.welcomeJumbo {
	transform: translate3d(250px, 0, 0);
	max-width: calc(100vw - 250px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #ed1b2e;
	/* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #ed1b2e 1%, #333333 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #ed1b2e 1%, #333333 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(
		ellipse at center,
		#ed1b2e 1%,
		#333333 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	overflow: hidden;
	.titleInfo {
		margin-bottom: 100px;
		.sectionTitle {
			color: #f2f2f2;
			align-self: center;
		}
		.city {
			align-self: center;
			background: #f2f2f2;
			padding: 8px 15px;
			display: inline-block;
			border-radius: 3px;
			font-size: .9rem;
			font-weight: 700;
		}
	}
	.burgerFries {
		width: 100%;
		max-width: 800px;
	}
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 767px) {
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 992px) {
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
