.welcomeJumbo {
	max-width: calc(100vw - 300px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 100%;
	background: #ed1b2e;
	/* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #ed1b2e 1%, #333333 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #ed1b2e 1%, #333333 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(
		ellipse at center,
		#ed1b2e 1%,
		#333333 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	overflow: hidden;
	.titleInfo {
		margin-bottom: 100px;
		.sectionTitle {
			color: #f2f2f2;
			align-self: center;
		}
		.city {
			align-self: center;
			background: #f2f2f2;
			padding: 8px 15px;
			display: inline-block;
			border-radius: 3px;
			font-size: .9rem;
			font-weight: 700;
		}
	}
	.burgerFries {
		width: 100%;
		max-width: 800px;
	}
}
