@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);@import url(https://fonts.googleapis.com/css2?family=Mulish:wght@300;

500;600;700&display=swap);* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#aboutPage {
  padding: 100px;
}

#aboutPage .contentBox {
  background-color: white;
  padding: 20px;
}

#aboutPage .contentBox .title {
  text-align: start;
}

#aboutPage .contentBox p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 2rem;
}

@media (min-width: 0px) and (max-width: 767px) {
  #aboutPaage {
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #aboutPaage {
    padding: 20px;
  }
}

.welcomeJumbo {
  transform: translate3d(250px, 0, 0);
  max-width: calc(100vw - 250px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ed1b2e;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #ed1b2e 1%, #333333 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  overflow: hidden;
}

.welcomeJumbo .titleInfo {
  margin-bottom: 100px;
}

.welcomeJumbo .titleInfo .sectionTitle {
  color: #f2f2f2;
  align-self: center;
}

.welcomeJumbo .titleInfo .city {
  align-self: center;
  background: #f2f2f2;
  padding: 8px 15px;
  display: inline-block;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: 700;
}

.welcomeJumbo .burgerFries {
  width: 100%;
  max-width: 800px;
}

body {
  line-height: 1;
  background: white;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

p {
  font-family: "Mulish", sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

* .container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

* .sectionTitle {
  font-size: 4rem;
  color: #333333;
  font-weight: 900;
  margin-bottom: 50px;
}

* .title {
  margin-bottom: 15px;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 700;
}

* .subtitle {
  font-size: 2rem;
  font-weight: 900;
}

#appLayout {
  display: grid;
  width: 100%;
  height: 100vh;
}

#appLayout .sideMenu {
  padding: 40px;
  height: 100vh;
  width: 300px;
  position: absolute;
  background: white;
}

#appLayout .sideMenu .logo {
  display: flex;
  margin-bottom: 35px;
}

#appLayout .sideMenu img {
  max-width: 100px;
}

#appLayout .sideMenu .menu {
  margin-bottom: 50px;
}

#appLayout .sideMenu .menu .links li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
  font-size: 1rem;
  margin-bottom: 1.2rem;
  display: block;
  transition: color 0.3s ease-in-out;
}

#appLayout .sideMenu .menu .links li a:hover {
  color: #e01d2b;
}

#appLayout .sideMenu .socialIcons {
  display: flex;
}

#appLayout .sideMenu .socialIcons a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-size: 0.8rem;
  color: #fbfbfb;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
  background: #e01d2b;
  transition: background 0.3s ease-in-out;
}

#appLayout .sideMenu .socialIcons a:hover {
  background: #333333;
}

#appLayout .sideMenu .location {
  position: absolute;
  bottom: 0;
  padding: 0 0 15px;
}

#appLayout .sideMenu .location .address {
  color: #d1535c;
  line-height: 1.5;
  margin-bottom: 15px;
}

#appLayout .sideMenu .location .contactNumber {
  margin-bottom: 10px;
}

#appLayout .sideMenu .location .contactNumber a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #0077ff;
}

#appLayout .sideMenu .location .operations {
  color: #d1535c;
}

#appLayout #contentSection {
  transform: translate3d(250px, 0, 0);
  max-width: calc(100vw - 250px);
  background: #ed1b2e;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #ed1b2e 1%, #333333 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  overflow: hidden;
}

#infoSection {
  background-color: #333333;
  color: #fbfbfb;
}

#infoSection .container {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 100px 0;
}

#infoSection .container .infoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

#infoSection .container .infoGrid .iBox .paragraph {
  padding: 10px;
  text-align: center;
  line-height: 1.5;
}

#infoSection .container .infoGrid .iBox .learnMore {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fbfbfb;
  text-decoration: none;
}

#infoSection .container .infoGrid .iBox .learnMore span {
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 600;
}

#infoSection .container .infoGrid .iBox .learnMore .circleRight {
  height: 30px;
  width: 30px;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #ed1b2e 1%, #333333 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#infoSection .container .infoGrid .iBox .learnMore .circleRight .fa-chevron-right {
  color: #fbfbfb;
}

#infoSection .container .infoGrid .iBox .learnMore:hover .circleRight {
  margin-left: 10px;
}

#happeningsSection {
  padding: 100px 0;
}

#happeningsSection .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#happeningsSection .container .sectionTitle {
  text-align: center;
  padding-bottom: 50px;
}

#happeningsSection .container .happeningsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  z-index: 100;
}

#happeningsSection .container .happeningsGrid .happeningsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
}

#happeningsSection .container .happeningsGrid .happeningsBox img {
  height: 100%;
  width: 100%;
}

#foodPreview {
  background: #f4ebeb;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#foodPreview .roundedBtn {
  background: #ed1b2e;
  color: #f2f2f2;
  padding: 15px;
  display: inline-block;
  border-radius: 30px;
  margin-bottom: 130px;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}

#foodPreview .roundedBtn:hover {
  background: #333333;
}

#foodPreview .container {
  width: 100%;
  position: relative;
}

#foodPreview .container .leftBtn,
#foodPreview .container .rightBtn {
  background: #e01d2b;
  color: #f2f2f2;
  height: 50px;
  width: 50px;
  position: absolute;
  top: calc(50% - 25px);
  display: inline-block;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#foodPreview .container .leftBtn:hover,
#foodPreview .container .rightBtn:hover {
  background: #f2f2f2;
  border: 2px solid #e01d2b;
  color: #e01d2b;
}

#foodPreview .container .leftBtn {
  left: -10px;
}

#foodPreview .container .rightBtn {
  right: -10px;
}

#foodPreview .container .foodSlider {
  width: 100%;
  font-size: 0;
  max-width: 1300px;
  overflow: hidden;
  position: relative;
}

#foodPreview .container .foodSlider .slidingSystem {
  white-space: nowrap;
  transform: translate3d(0%, 0, 0);
  transition: all 0.3s ease-in-out;
}

#foodPreview .container .foodSlider .slide {
  width: 20%;
  height: 400px;
  position: relative;
  display: inline-block;
  white-space: normal;
  cursor: pointer;
}

#foodPreview .container .foodSlider .slide:hover .background {
  background: #0685ac;
  transform: translate3d(0, -200px, 0);
}

#foodPreview .container .foodSlider .slide:hover .content .foodTitle {
  color: #f4ebeb;
}

#foodPreview .container .foodSlider .slide:hover .content .foodDesc {
  color: #f4ebeb;
}

#foodPreview .container .foodSlider .slide .background {
  background: white;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

#foodPreview .container .foodSlider .slide .content {
  position: absolute;
  z-index: 2;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#foodPreview .container .foodSlider .slide .content .foodTitle {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 2rem;
  color: #ed1b2e;
}

#foodPreview .container .foodSlider .slide .content .foodDesc {
  font-weight: 300;
  line-height: 1.3;
  font-size: 0.8rem;
  margin-bottom: 3rem;
}

#foodPreview .container .foodSlider .slide .content img {
  max-width: 125px;
  width: 95%;
}

@media (min-width: 0px) and (max-width: 767px) {
  #appLayout .sectionTitle {
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 1.4;
  }

  #appLayout .sideMenu {
    transform: translate3d(-300px, 0, 0);
  }

  #appLayout .welcomeJumbo {
    width: 100%;
    max-width: 100vw;
    padding: 15px;
    transform: translate3d(0, 0, 0);
  }

  #appLayout #contentSection {
    width: 100%;
    max-width: 100vw;
    padding: 15px;
    transform: translate3d(0, 0, 0);
  }

  #infoSection .container .infoGrid {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }

  #infoSection .container .infoGrid .iBox .title {
    font-size: 2rem;
  }

  #infoSection .container .infoGrid .iBox p {
    font-size: 0.8rem;
  }

  #infoSection .container .infoGrid .iBox .learnMore span {
    font-size: 0.9rem;
  }

  #infoSection .container .infoGrid .iBox .learnMore .circleRight {
    height: 25px;
    width: 25px;
  }

  #infoSection .container .infoGrid .iBox .learnMore .circleRight i {
    font-size: 0.9rem;
  }

  #happeningsSection {
    padding: 100px 0;
  }

  #happeningsSection .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #happeningsSection .container .sectionTitle {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 50px;
  }

  #happeningsSection .container .happeningsGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    z-index: 100;
  }

  #happeningsSection .container .happeningsGrid .happeningsBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #happeningsSection .container .happeningsGrid .happeningsBox img {
    height: 80%;
    width: 80%;
  }

  #foodPreview {
    width: 100%;
    overflow: hidden;
    padding: 20px;
  }

  #foodPreview .sectionTitle {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 50px;
  }

  #foodPreview .container .foodSlider .slide {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #appLayout .sectionTitle {
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 1.4;
  }

  #appLayout .sideMenu {
    transform: translate3d(-300px, 0, 0);
  }

  #appLayout .welcomeJumbo {
    width: 100%;
    max-width: 100vw;
    padding: 15px;
    transform: translate3d(0, 0, 0);
  }

  #appLayout #contentSection {
    width: 100%;
    max-width: 100vw;
    padding: 15px;
    transform: translate3d(0, 0, 0);
  }

  #infoSection .container .infoGrid {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }

  #happeningsSection {
    padding: 100px 0;
  }

  #happeningsSection .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #happeningsSection .container .sectionTitle {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 50px;
  }

  #happeningsSection .container .happeningsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    z-index: 100;
  }

  #happeningsSection .container .happeningsGrid .happeningsBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #happeningsSection .container .happeningsGrid .happeningsBox img {
    height: 80%;
    width: 80%;
  }

  #foodPreview {
    width: 100%;
    overflow: hidden;
    padding: 20px;
  }

  #foodPreview .sectionTitle {
    margin: 50px 0;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 700;
  }

  #foodPreview .container .foodSlider .slide {
    width: 50%;
  }
}

